/* COLORS (in order from lightest to darkest):
 FROSTED BLUE: #89D2DC
 SLATE BLUE: #6564DB
 BRIGHT INDIGO: #232ED1
 PRUSSIAN BLUE: #101D42
 INK BLACK: #0D1317


 FONTS:
Titles: "Century Gothic", Helvetica, sans-serif
Paragraphs: Georgia, 'Times New Roman', Times, serif
*/

body {
    background-color: #101D42;
    color: white;
}
/*************HEADER***************/
header {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #89D2DC;
    font-family: "Century Gothic", Helvetica, sans-serif;
    border-radius: 10px;
}
#logo {
    height: 200px;
    width: 200px;
    grid-column: 1/2;
    border: 3px solid white;
    border-radius: 20%;
}
.class-name {
    grid-column: 2/3;
    margin: auto;
    font-size:4em;
    color: #0D1317;
}

/********* NAVIGATION *********/
nav {
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 1.5em;
    background: #6564DB;
    height: 100px;
    align-items: center;
    border-radius: 15px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: auto;
    padding: 35px;
}
nav a {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 36px 50px;
    
}
nav a:hover {
    color: black;
    background: #89D2DC;
}

/********************MAIN*****************/

main {
    background-color: #101D42;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}
main img {
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
}
main p {
    width: 50%;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background: #89D2DC;
    font-family: "Century Gothic", Helvetica, sans-serif;
    margin-left: -5px;
    margin-right: -5px;
    padding: 20px;
    align-items: center;
    color: black;
}
#contact-f {
    text-decoration: none;
    color: black;
    padding: 44px 30px;

}
#contact-f:hover {
    background: #38939f;
    color:white;
}
#fb {
    padding: 15px;
}
#tw {
    padding: 15px;
}
#inst {
    padding: 15px;
}